<div style="background-color: #bfbfbf; text-align: center; padding-top: 0vh;">
        <h1 style="font-size: 45px; background-color: #667fb4;">Processo de Medição</h1>
                <input type="text" style="text-align: center;width: 90%; font-size: 30px" placeholder="Gerencia de custos">
        <h1 style="font-size: 45px; background-color: #667fb4;">PROPÓSITO DA MEDIÇÃO</h1>
                <input type="text" style="text-align: center;width: 90%; font-size: 30px" placeholder="Coletar, monitorar e analisar o Custo do Projeto">
        <h1 style="font-size: 45px; background-color: #667fb4;">Diretrizes Organizacionais do Processo de Software</h1>
                <input type="text" style="text-align: center;width: 90%; font-size: 30px" placeholder="Avaliar a eficiência das previsões de custos">
        <h1 style="font-size: 45px; background-color: #667fb4;">Objetivos ou Meta</h1>
                <input type="text" style="text-align: center;width: 90%; font-size: 30px" placeholder="Saber o Valor total orçado para
atividades do projeto">
        <h1 style="font-size: 45px; background-color: #667fb4;">Medida</h1>
                <input type="text" style="text-align: center;width: 90%; font-size: 30px" placeholder="VP(Valor Planejado)">
<br>
<br><br>
<h1 style="font-size: 30px; background-color: #667fb4; margin-top: 25vh">Termo</h1>
                <input type="text" style="text-align: center;width: 90%; font-size: 20px" placeholder="VP (Valor Planejado)">
        <h1 style="font-size: 30px; background-color: #667fb4;">Noção</h1>
                <input type="text" style="text-align: center;width: 90%; font-size: 20px" placeholder="Corresponde ao custo orçado do trabalho planejado">
        <h1 style="font-size: 30px; background-color: #667fb4;">Sinônimo</h1>
                <input type="text" style="text-align: center;width: 90%; font-size: 20px" placeholder="Valor Estimado">
        <h1 style="font-size: 30px; background-color: #667fb4;">Fonte</h1>
                <input type="text" style="text-align: center;width: 90%; font-size: 20px" placeholder="Orçamento do Projeto">
        <h1 style="font-size: 30px; background-color: #667fb4;">Como calcular </h1>
                <input type="text" style="text-align: center;width: 90%; font-size: 20px" placeholder="VP = ONT X PFp">
        <h1 style="font-size: 30px; background-color: #667fb4;">O que demonstra</h1>
                <input type="text" style="text-align: center;width: 90%; font-size: 20px" placeholder="Demonstra o valor de uma determinada parte do projeto">
        <h1 style="font-size: 30px; background-color: #667fb4;">Fonte</h1>
                <input type="text" style="text-align: center;width: 90%; font-size: 20px" placeholder="O valor do VP refere-se ao custo que uma parte do projeto custará">
        <h1 style="font-size: 30px; background-color: #667fb4;">Como coletar </h1>
                <input type="text" style="text-align: center;width: 90%; font-size: 20px" placeholder="Nas estimativas feita pela equipe de gerência de custos">
</div>
