<div style="height: 70vh; background-color: #bfbfbf; text-align: center; padding-top: 25vh;">
        <h1 style="font-size: 55px;">Medição de processos Software</h1>
        <a style="background-color: white;
        color: #7d8e91;
        font-family: Raleway;
        border: 3px solid #8ab9c5;
        height: 36px;
        width: 35%;
        margin:15px;
        border-radius: 25px; font-size: large;" href="/addprocessos">Criar nova Medição</a>
        <h2 style="padding-top: 25vh;">Desenvolvido por:<br>
Beatriz, Caio, Cristiano, Helon, Leandro Marassi, Lucas, Pablo, Vanessa</h2>
    </div>