<div style="height: 150vh; background-color: #bfbfbf; text-align: center;">
        <h1 style="font-size: 55px; background-color: #667fb4;">Descrição da Medida para um da Medição</h1>
        <form action="/add" method="POST"><br>
            <input type="text" style="height: 36px; width: 55%; border-radius: 25px; margin: 10px;" name="TITULO_PROC" placeholder="Descreva A Medida" required minlength="10" maxlength="100">
            <input type="text" style="height: 36px; width: 55%; border-radius: 25px; margin: 10px;" name="TITULO_PROC" placeholder="Descreva a Noção" required minlength="10" maxlength="100">
            <input type="text" style="height: 36px; width: 55%; border-radius: 25px; margin: 10px;" name="TITULO_PROC" placeholder="Descreva o Sinônimo" required minlength="10" maxlength="100">
            <input type="text" style="height: 36px; width: 55%; border-radius: 25px; margin: 10px;" name="TITULO_PROC" placeholder="Descreva a Fonte" required minlength="10" maxlength="100">
            <input type="text" style="height: 36px; width: 55%; border-radius: 25px; margin: 10px;" name="TITULO_PROC" placeholder="Descreva o Tipo" required minlength="10" maxlength="100">
            <input type="text" style="height: 36px; width: 55%; border-radius: 25px; margin: 10px;" name="TITULO_PROC" placeholder="Descreva o Formato" required minlength="10" maxlength="100">
            <input type="text" style="height: 36px; width: 55%; border-radius: 25px; margin: 10px;" name="TITULO_PROC" placeholder="Descreva a Restrição" required minlength="10" maxlength="100">
            <input type="text" style="height: 36px; width: 55%; border-radius: 25px; margin: 10px;" name="TITULO_PROC" placeholder="Descreva como Analisar" required minlength="10" maxlength="100">
            <input type="text" style="height: 36px; width: 55%; border-radius: 25px; margin: 10px;" name="TITULO_PROC" placeholder="Descreva como calcular" required minlength="10" maxlength="100">


        <br><br><br><BR><br>
        <a style="background-color: white;
        color: #7d8e91;
        font-family: Raleway;
        border: 3px solid #8ab9c5;
        height: 36px;
        paddin-top: 25px;
        width: 35%;
        border-radius: 25px; font-size: large;" type="submit" class="button" id="adicionar" href="/finalizar">Finalizar Medição</a>
    </form>

    </div>