<div style="height: 100vh; background-color: #bfbfbf; text-align: center;">
        <h1 style="font-size: 55px; background-color: #667fb4;">Descrição do Objetivo da Medição</h1>
        <form action="/add" method="POST"><br>
        <input type="text" style="height: 36px;
	width: 55%;
	border-radius: 25px;" name="TITULO_PROC" placeholder="Descreva a Medida" required minlength="10" maxlength="100">
        <br><br><br><br><br>
        <a style="background-color: white;
        color: #7d8e91;
        font-family: Raleway;
        border: 3px solid #8ab9c5;
        height: 36px;
        margin-top: 25px;
        width: 35%;
        border-radius: 25px; font-size: large;" type="submit" class="button" id="adicionar" href="/addobjetivo">ADICIONAR NOVO OBJETIVO</a>
        <a style="background-color: white;
        color: #7d8e91;
        font-family: Raleway;
        border: 3px solid #8ab9c5;
        height: 36px;
        margin-top: 25px;
        width: 35%;
        border-radius: 25px; font-size: large;" type="submit" class="button" id="adicionar" href="/addmedidas">ADICIONAR MEDIDA</a>
    </form>

    </div>